.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 635px) {
    .container {
        margin: 2rem;
    }
}