.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 2.6rem;
}

code {
    font-size: 1.8rem;
}

p {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 50px;
}

img {
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;
}
